{
    auto_https off
    admin off
}

http://stackhal.com, http://www.stackhal.com {
    handle /.well-known/acme-challenge/* {
        root * /srv/certbot
        file_server
    }
    handle {
        redir https://stackhal.com{uri} permanent
    }
}

http://localhost, http://127.0.0.1 {
    root * /app/public
    encode zstd gzip
    @static file
    handle @static {
        file_server
    }
    handle {
        php_fastcgi app:9000
    }
}

https://www.stackhal.com {
    tls /etc/letsencrypt/live/stackhal.com/fullchain.pem /etc/letsencrypt/live/stackhal.com/privkey.pem
    redir https://stackhal.com{uri} permanent
}

https://stackhal.com {
    tls /etc/letsencrypt/live/stackhal.com/fullchain.pem /etc/letsencrypt/live/stackhal.com/privkey.pem
    root * /app/public
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
    @static file
    handle @static {
        file_server
    }
    handle {
        php_fastcgi app:9000
    }
    log {
        output stdout
        format json
    }
}
